Requirements

problem Statement
Dataset
sources and access of the data
Understand the data

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [2]:
df =pd.read_csv("netflix_titles.csv")

In [3]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1338,s1339,TV Show,Hache,NaN,"Adriana Ugarte, Javier Rey, Eduardo Noriega, M...",Spain,"February 5, 2021",2021,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, Spanis...",As Helena gains the love and trust of a danger...
5604,s5605,Movie,The Fury of a Patient Man,Raúl Arévalo,"Antonio de la Torre, Luis Callejo, Ruth Díaz, ...",Spain,"February 15, 2017",2016,TV-MA,92 min,"International Movies, Thrillers",After his lover is killed in a jewelry store r...
1959,s1960,Movie,Enola Holmes,Harry Bradbeer,"Millie Bobby Brown, Henry Cavill, Sam Claflin,...",United Kingdom,"September 23, 2020",2020,PG-13,124 min,"Action & Adventure, Children & Family Movies, ...","While searching for her missing mother, intrep..."
56,s57,Movie,Naruto Shippuden the Movie: Blood Prison,Masahiko Murata,"Junko Takeuchi, Chie Nakamura, Rikiya Koyama, ...",Japan,"September 15, 2021",2011,TV-14,102 min,"Action & Adventure, Anime Features, Internatio...",Mistakenly accused of an attack on the Fourth ...
3427,s3428,Movie,Bygones Be Bygones,Hakan Algül,"Ata Demirer, Tuvana Türkay, Ülkü Duru, Salih K...",Turkey,"October 11, 2019",2017,TV-MA,104 min,"Comedies, International Movies, Romantic Movies",A mother's plan to find her bachelor son a mat...

In [4]:
df.drop(["show_id","description"], axis=1, inplace=True)

In [5]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
2270,Movie,Chashme Baddoor,David Dhawan,"Rishi Kapoor, Ali Zafar, Taapsee Pannu, Siddha...",India,"July 5, 2020",2013,TV-14,121 min,"Comedies, International Movies, Music & Musicals"
4630,Movie,Quincy,"Rashida Jones, Alan Hicks",Quincy Jones,United States,"September 21, 2018",2018,TV-MA,124 min,"Documentaries, Music & Musicals"
3833,Movie,Shéhérazade,Jean-Bernard Marlin,"Dylan Robert, Kenza Fortas, Idir Azougli, Lisa...",France,"May 11, 2019",2019,TV-MA,111 min,"Dramas, Independent Movies, International Movies"
7969,Movie,Secret in Their Eyes,Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...","United States, United Kingdom, Spain, South Korea","April 1, 2018",2015,PG-13,111 min,"Dramas, Thrillers"
957,TV Show,Pet Stars,NaN,NaN,NaN,"April 30, 2021",2021,TV-PG,1 Season,Reality TV

In [6]:
df.shape

(8807, 10)

In [7]:
df.size

88070

In [8]:
df.index

RangeIndex(start=0, stop=8807, step=1)

In [9]:
df.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7982 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [11]:
 df.isna().sum()

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [14]:
df["country"].value_counts().head(3)

country
United States     2818
India              972
United Kingdom     419
Name: count, dtype: int64

In [15]:
mode_country= df["country"].mode()[0]
mode_country

'United States'

In [16]:
df["country"]= df["country"].fillna(mode_country)

In [17]:
df["country"].isna().sum()

0

In [18]:
df["date_added"].value_counts().head(3)

date_added
January 1, 2020     109
November 1, 2019     89
March 1, 2018        75
Name: count, dtype: int64

In [19]:
mode_date= df["date_added"].mode()[0]

In [20]:
mode_date

'January 1, 2020'

In [21]:
df["date_added"]=df["date_added"].fillna(mode_date)

In [22]:
df["date_added"].isna().sum()

0

In [23]:
mode_rating=df["rating"].mode()[0]

In [24]:
mode_rating

'TV-MA'

In [25]:
df["rating"]=df["rating"].fillna(mode_rating)

In [26]:
df["rating"].isna().sum()

0

In [27]:
mode_duration=df["duration"].mode()[0]

In [28]:
mode_duration

'1 Season'

In [29]:
df["duration"]=df["duration"].fillna(mode_duration)

In [30]:
df["duration"].isna().sum()

0

In [31]:
df["director"]=df["director"].fillna("Not Mentioned")

In [32]:
df["director"].isna().sum()

0

In [33]:
df["cast"]=df["cast"].fillna("Not Mentioned")

In [34]:
df["cast"].isna().sum()

0

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      8807 non-null   object
 3   cast          8807 non-null   object
 4   country       8807 non-null   object
 5   date_added    8807 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8807 non-null   object
 8   duration      8807 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [36]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [37]:
df= df[~df["rating"].str.contains("min")]

In [38]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [39]:
df["date_added"].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [40]:
df["date_added"]=df["date_added"].str.replace(",","")

C:\Users\shaimishra\AppData\Local\Temp\ipykernel_33932\2649166716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_added"]=df["date_added"].str.replace(",","")

In [41]:
df["date_added"].unique()

array(['September 25 2021', 'September 24 2021', 'September 23 2021', ...,
       'December 6 2018', 'March 9 2016', 'January 11 2020'], dtype=object)

In [42]:
df["date_added"] = pd.to_datetime(df["date_added"], format="mixed")

C:\Users\shaimishra\AppData\Local\Temp\ipykernel_33932\498004367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_added"] = pd.to_datetime(df["date_added"], format="mixed")

In [43]:
df["date_added"].unique()

<DatetimeArray>
['2021-09-25 00:00:00', '2021-09-24 00:00:00', '2021-09-23 00:00:00',
 '2021-09-22 00:00:00', '2021-09-21 00:00:00', '2021-09-20 00:00:00',
 '2021-09-19 00:00:00', '2021-09-17 00:00:00', '2021-09-16 00:00:00',
 '2021-09-15 00:00:00',
 ...
 '2018-09-27 00:00:00', '2017-03-23 00:00:00', '2016-12-25 00:00:00',
 '2016-11-30 00:00:00', '2017-10-23 00:00:00', '2017-11-04 00:00:00',
 '2015-08-05 00:00:00', '2018-12-06 00:00:00', '2016-03-09 00:00:00',
 '2020-01-11 00:00:00']
Length: 1714, dtype: datetime64[ns]

In [44]:
df["year"]=df["date_added"].dt.year

C:\Users\shaimishra\AppData\Local\Temp\ipykernel_33932\1025263937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"]=df["date_added"].dt.year

In [45]:
df["month"]=df["date_added"].dt.month

C:\Users\shaimishra\AppData\Local\Temp\ipykernel_33932\4265263075.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month"]=df["date_added"].dt.month

In [46]:
df["day"]=df["date_added"].dt.day

C:\Users\shaimishra\AppData\Local\Temp\ipykernel_33932\292946900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["day"]=df["date_added"].dt.day

In [47]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day
5208,TV Show,Haters Back Off,Not Mentioned,"Colleen Ballinger, Angela Kinsey, Steve Little...",United States,2017-10-20,2017,TV-PG,2 Seasons,"TV Comedies, Teen TV Shows",2017,10,20
5769,TV Show,Masha's Spooky Stories,Not Mentioned,Not Mentioned,"United States, Russia",2016-10-01,2012,TV-Y,1 Season,Kids' TV,2016,10,1
1096,Movie,The Last Kids on Earth: Happy Apocalypse to You,Steve Rolston,"Nick Wolfhard, Charles Demers, Montse Hernande...",United States,2021-04-06,2021,TV-Y7,92 min,"Children & Family Movies, Comedies",2021,4,6
8784,Movie,Yoko and His Friends,Not Mentioned,"Eileen Stevens, Alyson Leigh Rosenfeld, Sarah ...","Russia, Spain",2018-06-23,2015,TV-Y,78 min,Children & Family Movies,2018,6,23
4582,Movie,Luv Shuv Tey Chicken Khurana,Sameer Sharma,"Kunal Kapoor, Huma Qureshi, Rajesh Sharma, Vip...",India,2018-10-01,2012,TV-14,129 min,"Comedies, International Movies, Romantic Movies",2018,10,1

In [48]:
df["genre"]= df["listed_in"].str.split(",").str[0]

C:\Users\shaimishra\AppData\Local\Temp\ipykernel_33932\1152160010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["genre"]= df["listed_in"].str.split(",").str[0]

In [49]:
df["genre"].value_counts().head(5)

genre
Dramas                    1600
Comedies                  1210
Action & Adventure         859
Documentaries              829
International TV Shows     774
Name: count, dtype: int64

In [50]:
df = df[df["cast"]!="Not Mentioned"]

In [51]:
df["lead_actor"] = df["cast"].str.split(",").str[0]

In [53]:
df["lead_actor"].value_counts().head(5)

lead_actor
Shah Rukh Khan        26
Akshay Kumar          23
David Attenborough    20
Adam Sandler          20
Amitabh Bachchan      20
Name: count, dtype: int64

In [54]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day,genre,lead_actor
6200,Movie,Avengers: Infinity War,"Anthony Russo, Joe Russo","Robert Downey Jr., Josh Brolin, Mark Ruffalo, ...",United States,2018-12-25,2018,PG-13,150 min,"Action & Adventure, Sci-Fi & Fantasy",2018,12,25,Action & Adventure,Robert Downey Jr.
8054,Movie,Some Freaks,Ian MacAllister-McDonald,"Thomas Mann, Lily Mae Harrington, Ely Henry, L...",United States,2017-12-18,2017,TV-MA,97 min,"Dramas, Romantic Movies",2017,12,18,Dramas,Thomas Mann
1920,Movie,The Book of Sun,Faris Godus,"Baraa Alem, Ismail Alhassan, Ahmed Saddam, Soh...",Saudi Arabia,2020-10-01,2020,TV-14,120 min,"Comedies, Independent Movies, International Mo...",2020,10,1,Comedies,Baraa Alem
6863,Movie,God's Own Country,Francis Lee,"Josh O'Connor, Alec Secareanu, Ian Hart, Gemma...",United Kingdom,2018-05-01,2017,TV-MA,105 min,"Dramas, Independent Movies, International Movies",2018,5,1,Dramas,Josh O'Connor
7320,Movie,Little Sister,Zach Clark,"Addison Timlin, Ally Sheedy, Keith Poulson, Pe...",United States,2017-01-14,2016,NR,91 min,"Comedies, Dramas, Independent Movies",2017,1,14,Comedies,Addison Timlin

In [55]:
df.drop(["date_added","listed_in","cast"], axis=1, inplace=True)

In [56]:
df.sample(5)

,type,title,director,country,release_year,rating,duration,year,month,day,genre,lead_actor
341,Movie,Magnolia,Paul Thomas Anderson,United States,1999,R,189 min,2021,8,1,Dramas,John C. Reilly
4510,Movie,Apostle,Gareth Evans,"United Kingdom, United States",2018,TV-MA,130 min,2018,10,12,Horror Movies,Dan Stevens
5478,Movie,Laerte-se,"Lygia Barbosa da Silva, Eliane Brum",Brazil,2017,TV-MA,101 min,2017,5,19,Documentaries,Laerte Coutinho
7072,Movie,Indiana Jones and the Raiders of the Lost Ark,Steven Spielberg,United States,1981,PG,116 min,2019,1,1,Action & Adventure,Harrison Ford
7506,Movie,Moon,Duncan Jones,"United Kingdom, United States",2009,R,97 min,2020,1,1,Dramas,Sam Rockwell

In [58]:
df.to_csv("cleaned_data.csv")